.login {
  position: relative;
  height: 100%;
  background-image: linear-gradient(#7117ea, #ea6060);
}
.login-form {
  max-width: 400px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
}
.login-form h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.button-google {
  color: #fff;
  background-color: #ea6060;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 7px;
}
.button-goole :hover,
.button-facebook:hover {
  color: #fff;
}
.button-facebook {
  color: #fff;
  background-color: #4267b2;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  margin-left: 7px;
}
.my-facebook-button-class {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.27548vw + 11px);
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: #4c69ba;
  border: calc(0.06887vw + 0.67769px) solid #4c69ba;
  padding: calc(0.34435vw + 2px) calc(0.34435vw + 18.38843px);
}
.my-google-button-class div,
.my-google-button-class span {
  padding: 7px !important;
}
